@import url('https://fonts.googleapis.com/css2?family=Alata&family=Red+Hat+Mono:wght@300;400;700&display=swap');

:root {
  --pink: #f550b6;
  --red: #ec3a3a;
  --blue: #38a0f0;
  --storm: #889fa7;
  --white: #ffffff;
  --black: rgb(10, 5, 8);
  --yellow: rgb(255, 172, 30);
  --teal: #73d2deff;
  --green: #4ce0d2;
  --purple: #bba2f3;
  --spotify: #1db954;
  --gray: #54494b;
  --background-color: var(--black);
  --ui-background: rgba(0, 0, 0, 0.7);
  --editor-width: 100vw;
  --editor-height: 100vh;
  --editor-font-size: .8rem;
  --editor-line-height: 1.2rem;
}

.no-line-numbers .cm-gutters {
  display: none !important;
}

.codemirror.visible {
  pointer-events: all;
  opacity: 1;
}

.codemirror.hide {
  pointer-events: none;
}

.codemirror::-webkit-scrollbar {
  display: none;
}

.codemirror::scrollbar {
  display: none;
}

.cm-editor {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  background: transparent !important;
  outline: 0 !important;
  height: var(--editor-height) !important;
  width: var(--editor-width) !important;
  padding-top: 0 !important;
  z-index: 10;
  will-change: transform, opacity;
}

.cm-editor * {
  font-family: 'Red Hat Mono', monospace;
  font-weight: 400 !important;
  tab-size: var(--editor-line-height);
  font-size: var(--editor-font-size);
  line-height: var(--editor-line-height);
  background: transparent !important;
}

.cm-scroller::-webkit-scrollbar {
  display: none;
}

.cm-scroller::scrollbar {
  display: none;
}

.cm-content {
  padding-top: 0 !important;
  background: transparent;
}

.cm-content::-webkit-scrollbar {
  display: none;
}

.cm-content::scrollbar {
  display: none;
}

.cm-gutters {
  padding-top: 0 !important;
  background: var(--ui-background) !important;
  border-right: var(--border);
  color: rgba(255, 255, 255, 0.3) !important;
}

.cm-gutters,
.cm-gutters * {
  user-select: none !important;
}

.cm-lineNumbers {
  min-width: 2rem;
}

.cm-foldGutter {
  display: none;
}

.cm-activeLineGutter {
  background: var(--pink);
  outline: 1px solid var(--purple);
  color: white;
}

.cm-line {
  height: var(--editor-line-height) !important;
  line-height: var(--editor-line-height) !important;
  display: inline-flex;
  word-spacing: 0rem;
  background: var(--ui-background) !important;
  width: fit-content;
  color: var(--blue);
  padding-left: 0.5rem !important;
  z-index: 1;
  position: relative;
}

.cm-activeLine {
  background: linear-gradient(to right, rgba(0, 0, 0, 1), var(--ui-background));
  outline: 1px solid var(--purple);
  z-index: 2;
  position: relative;
}

.cm-selectionLayer {
  z-index: 2 !important;
  background: rgba(0, 0, 0, .9) !important;
  pointer-events: none;
}

.cm-selectionBackground {
  z-index: 0 !important;
  background: pink !important;
}

.cm-matchingBracket {
  color: var(--yellow);
  background: transparent;
  border: 0;
  outline: 0;
  display: inline-block;
}

.ͼv {
  color: var(--blue);
}

.ͼu {
  color: var(--pink);
  font-weight: 500 !important;
}

.ͼq {
  color: white;
}

.ͼs {
  color: var(--blue);
  font-weight: 500 !important;
}

.ͼ12 {
  color: var(--green);
  font-weight: 500 !important;
}

.ͼp {
  font-weight: 700 !important;
  color: var(--purple);
}

.cm-selectionMatch * {
  outline: 1px solid var(--pink) !important;
  color: var(--purple) !important;
}

.cm-gutterElement {
  font-size: var(--editor-font-size) !important;
  line-height: var(--editor-line-height) !important;
  height: var(--editor-line-height) !important;
}

.cm-gutterElement:first-of-type {
  display: none;
}

.cm-tooltip-autocomplete {
  background: var(--ui-background) !important;
}

.cm-tooltip-autocomplete ul * {
  display: flex !important;
  font-family: 'Red Hat Mono', mono;
  font-size: var(--editor-font-size) !important;
  line-height: var(--editor-line-height) !important;
  height: var(--editor-line-height) !important;
  padding: 0 !important;
  /* overflow: hidden; */
}

.cm-tooltip-autocomplete [aria-selected] {
  background: var(--pink) !important;
  color: var(--white) !important;
}
